## Declaraciones

In [1]:
# import
import pandas as pd
import numpy as np

# Joanne

---

# Daniel

---

# Joel

In [63]:
years = ['2009','2010','2011','2012','2013','2014','2015','2016']

In [64]:
urgencies = pd.DataFrame(columns=['CLUES','TIPOURGENCIA','MOTATE','YEAR','tmp_trail'])

for year in years:
    path = f'Datos/Urgencias_{year}/'
    file = f'URGENCIAS_{year}.csv'
    
    try:
        # code to process the 2009 file (it doesn't cointain headers)
        # ENTRESIDENCIA, MP y TIPOURGENCIA se empieza a reportar a partir del año 2010
        # MUNRESIDENCIA se empieza a reportar a partir del año 2012
        if year in ['2009']:
            print(f'[LOG]: Processing... {path+file}')
            urgencies_tmp = pd.read_csv(path+file, sep=";", header=None, 
                    names=['ID','CLUES','FOLIO','FECHAALTA',
                    'EDAD','CVEEDAD','SEXO',#'ENTRESIDENCIA','MUNRESIDENCIA',
                    'DERHAB',#'TIPOURGENCIA',
                    'MOTATE','TIPOCAMA','ENVIADOA',#'MP',
                    'AFECPRIN','IRA','PLANEDA','SOBRESEDA',
                    'FECHAINGRESO','HORASESTANCIA','MES_ESTADISTICO',
                    'HORAINIATE','MININIATE','HORATERATE','MINTERATE'],
                    dtype={'ID': object,'CLUES': object,'FOLIO': object,'FECHAALTA': object,
                    'EDAD': object,'CVEEDAD': object,'SEXO': object,#'ENTRESIDENCIA': object, 'MUNRESIDENCIA': object,
                    'DERHAB': object,#'TIPOURGENCIA': np.float64,
                    'MOTATE': np.float64,'TIPOCAMA': object,'ENVIADOA': object,#'MP': object,
                    'AFECPRIN': object,'IRA': object,'PLANEDA': object,'SOBRESEDA': object,
                    'FECHAINGRESO': object,'HORASESTANCIA': object,'MES_ESTADISTICO': object,
                    'HORAINIATE': object,'MININIATE': object,'HORATERATE': object,'MINTERATE': object})
            print(f'[LOG]: {file} processed.')
        # code to process the 2010 & 2011 files (it doesn't cointain headers)
        # MUNRESIDENCIA se empieza a reportar a partir del año 2012
        elif year in ['2010','2011']:
            print(f'[LOG]: Processing... {path+file}')
            urgencies_tmp = pd.read_csv(path+file, sep=";", header=None, 
                    names=['ID','CLUES','FOLIO','FECHAALTA',
                    'EDAD','CVEEDAD','SEXO','ENTRESIDENCIA',
                    #'MUNRESIDENCIA',
                    'DERHAB','TIPOURGENCIA',
                    'MOTATE','TIPOCAMA','ENVIADOA','MP',
                    'AFECPRIN','IRA','PLANEDA','SOBRESEDA',
                    'FECHAINGRESO','HORASESTANCIA','MES_ESTADISTICO',
                    'HORAINIATE','MININIATE','HORATERATE','MINTERATE'],
                    dtype={'ID': object,'CLUES': object,'FOLIO': object,'FECHAALTA': object,
                    'EDAD': object,'CVEEDAD': object,'SEXO': object,'ENTRESIDENCIA': object,
                    #'MUNRESIDENCIA': object,
                    'DERHAB': object,'TIPOURGENCIA': np.float64,
                    'MOTATE': np.float64,'TIPOCAMA': object,'ENVIADOA': object,'MP': object,
                    'AFECPRIN': object,'IRA': object,'PLANEDA': object,'SOBRESEDA': object,
                    'FECHAINGRESO': object,'HORASESTANCIA': object,'MES_ESTADISTICO': object,
                    'HORAINIATE': object,'MININIATE': object,'HORATERATE': object,'MINTERATE': object})
            print(f'[LOG]: {file} processed.')
        # code to process the 2012, 2013 & 2014 file (it doesn't cointain headers)
        elif year in ['2012','2013','2014']:
            print(f'[LOG]: Processing... {path+file}')
            urgencies_tmp = pd.read_csv(path+file, sep=";", header=None, 
                    names=['ID','CLUES','FOLIO','FECHAALTA',
                    'EDAD','CVEEDAD','SEXO','ENTRESIDENCIA',
                    'MUNRESIDENCIA','DERHAB','TIPOURGENCIA',
                    'MOTATE','TIPOCAMA','ENVIADOA','MP',
                    'AFECPRIN','IRA','PLANEDA','SOBRESEDA',
                    'FECHAINGRESO','HORASESTANCIA','MES_ESTADISTICO',
                    'HORAINIATE','MININIATE','HORATERATE','MINTERATE'],
                    dtype={'ID': object,'CLUES': object,'FOLIO': object,'FECHAALTA': object,
                    'EDAD': object,'CVEEDAD': object,'SEXO': object,'ENTRESIDENCIA': object,
                    'MUNRESIDENCIA': object,'DERHAB': object,'TIPOURGENCIA': np.float64,
                    'MOTATE': np.float64,'TIPOCAMA': object,'ENVIADOA': object,'MP': object,
                    'AFECPRIN': object,'IRA': object,'PLANEDA': object,'SOBRESEDA': object,
                    'FECHAINGRESO': object,'HORASESTANCIA': object,'MES_ESTADISTICO': object,
                    'HORAINIATE': object,'MININIATE': object,'HORATERATE': object,'MINTERATE': object})
            print(f'[LOG]: {file} processed.')
        # code to process the 2015 & 2016 file 
        else:
            print(f'[LOG]: Processing... {path+file}')
            urgencies_tmp = pd.read_csv(path+file,
                    dtype={'ID': object,'CLUES': object,'FOLIO': object,'FECHAALTA': object,
                    'EDAD': object,'CVEEDAD': object,'SEXO': object,'ENTRESIDENCIA': object,
                    'MUNRESIDENCIA': object,'DERHAB': object,'TIPOURGENCIA': np.float64,
                    'MOTATE': np.float64,'TIPOCAMA': object,'ENVIADOA': object,'MP': object,
                    'AFECPRIN': object,'IRA': object,'PLANEDA': object,'SOBRESEDA': object,
                    'FECHAINGRESO': object,'HORASESTANCIA': object,'MES_ESTADISTICO': object,
                    'HORAINIATE': object,'MININIATE': object,'HORATERATE': object,'MINTERATE': object})
            print(f'[LOG]: {file} processed.')
        
        if year in ['2009']:
            urgencies_tmp['TIPOURGENCIA'] = -1
        
        urgencies_tmp = urgencies_tmp[['CLUES','TIPOURGENCIA','MOTATE']]
        urgencies_tmp['YEAR'] = year
        urgencies_tmp['tmp_trail'] = 1
        
        print(f'[LOG]: Selected: {file}')
        
        urgencies = pd.concat([urgencies, urgencies_tmp], ignore_index=True)
        
        
        print(f'[LOG]: Appended: {file}')
        
        
    except:
        print(f'[LOG]: Error: {file}')

[LOG]: Processing... Datos/Urgencias_2009/URGENCIAS_2009.csv
[LOG]: URGENCIAS_2009.csv processed.
[LOG]: Selected: URGENCIAS_2009.csv
[LOG]: Appended: URGENCIAS_2009.csv
[LOG]: Processing... Datos/Urgencias_2010/URGENCIAS_2010.csv
[LOG]: URGENCIAS_2010.csv processed.
[LOG]: Selected: URGENCIAS_2010.csv
[LOG]: Appended: URGENCIAS_2010.csv
[LOG]: Processing... Datos/Urgencias_2011/URGENCIAS_2011.csv
[LOG]: URGENCIAS_2011.csv processed.
[LOG]: Selected: URGENCIAS_2011.csv
[LOG]: Appended: URGENCIAS_2011.csv
[LOG]: Processing... Datos/Urgencias_2012/URGENCIAS_2012.csv
[LOG]: URGENCIAS_2012.csv processed.
[LOG]: Selected: URGENCIAS_2012.csv
[LOG]: Appended: URGENCIAS_2012.csv
[LOG]: Processing... Datos/Urgencias_2013/URGENCIAS_2013.csv
[LOG]: URGENCIAS_2013.csv processed.
[LOG]: Selected: URGENCIAS_2013.csv
[LOG]: Appended: URGENCIAS_2013.csv
[LOG]: Processing... Datos/Urgencias_2014/URGENCIAS_2014.csv
[LOG]: URGENCIAS_2014.csv processed.
[LOG]: Selected: URGENCIAS_2014.csv
[LOG]: Appended: URGENCIAS_2014.csv
[LOG]: Processing... Datos/Urgencias_2015/URGENCIAS_2015.csv
[LOG]: URGENCIAS_2015.csv processed.
[LOG]: Selected: URGENCIAS_2015.csv
[LOG]: Appended: URGENCIAS_2015.csv
[LOG]: Processing... Datos/Urgencias_2016/URGENCIAS_2016.csv
[LOG]: URGENCIAS_2016.csv processed.
[LOG]: Selected: URGENCIAS_2016.csv
[LOG]: Appended: URGENCIAS_2016.csv

In [65]:
urgencies_by_year = urgencies.groupby(['YEAR'])["tmp_trail"].count().reset_index(name="count")

urgencies_by_year

   YEAR     count
0  2009   7344442
1  2010   7816941
2  2011   8579204
3  2012   9510442
4  2013  10041694
5  2014  10645625
6  2015  10918860
7  2016  10554908

In [66]:
urgencies.head()

         CLUES TIPOURGENCIA  MOTATE  YEAR tmp_trail
0  CCSSA000100           -1     6.0  2009         1
1  CCSSA000100           -1     6.0  2009         1
2  CCSSA000100           -1     6.0  2009         1
3  CCSSA000100           -1     6.0  2009         1
4  CCSSA000100           -1     6.0  2009         1

In [67]:
urgencies.count()

CLUES           75412116
TIPOURGENCIA    75412116
MOTATE          72899234
YEAR            75412116
tmp_trail       75412116
dtype: int64

In [68]:
urgencies_cdmx = urgencies[(urgencies['CLUES'].str.contains("DF"))]

urgencies_cdmx.count()

CLUES           7017663
TIPOURGENCIA    7017663
MOTATE          6934208
YEAR            7017663
tmp_trail       7017663
dtype: int64

In [254]:
urgencies_cdmx_grouped = urgencies_cdmx.groupby(['CLUES','TIPOURGENCIA','MOTATE','YEAR'])["tmp_trail"].count().reset_index(name="count")

urgencies_cdmx_grouped.head()

         CLUES  TIPOURGENCIA  MOTATE  YEAR  count
0  DFSSA000053          -1.0     1.0  2009   1278
1  DFSSA000053          -1.0     2.0  2009   8524
2  DFSSA000053          -1.0     3.0  2009     19
3  DFSSA000053          -1.0     5.0  2009      4
4  DFSSA000053          -1.0     6.0  2009  24029

In [255]:
urgencies_cdmx_grouped.count()

CLUES           2184
TIPOURGENCIA    2184
MOTATE          2184
YEAR            2184
count           2184
dtype: int64

In [256]:
output_file = 'data_output/urgencies_by_date.csv'

urgencies_cdmx_grouped.to_csv(output_file, encoding='utf-8', index=False)

---

In [257]:
### Upload the file  (to not process all the info twice)

#output_file = 'data_output/urgencies_by_date.csv'

#urgencies_cdmx_grouped = pd.read_csv(output_file)

In [258]:
urgencies_cdmx_grouped.head()

         CLUES  TIPOURGENCIA  MOTATE  YEAR  count
0  DFSSA000053          -1.0     1.0  2009   1278
1  DFSSA000053          -1.0     2.0  2009   8524
2  DFSSA000053          -1.0     3.0  2009     19
3  DFSSA000053          -1.0     5.0  2009      4
4  DFSSA000053          -1.0     6.0  2009  24029

In [259]:

CatTipoUrgencia = {1:"URGENCIA CALIFICADA", 
                    2:"URGENCIA NO CALIFICADA", 
                    3:"APOYO A SERVICIOS DE MEDICINA GENERAL"}

CatMotAtencionUrg = {1:"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS", 
                    2:"MEDICA", 
                    3:"GINECO-OBSTETRICA", 
                    4:"PEDIATRICA", 
                    9:"NO ESPECIFICADO"}

CatMotAtencionUrg_2008 = {1:"(AEV) ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS",
                    2:"(UC) URGENCIA CALIFICADA",
                    3:"(UNC) URGENCIA NO CALIFICADA",
                    4:"TRABAJO DE PARTO",
                    9:"NO ESPECIFICADO"}

CatMotAtencionUrg_2009 = {1:"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS",
                    2:"URGENCIA CALIFICADA MEDICA",
                    3:"URGENCIA CALIFICADA QUIRURGICA",
                    4:"URGENCIA CALIFICADA GINECO-OBSTETRICA",
                    5:"URGENCIA CALIFICADA PEDIATRICA",
                    6:"URGENCIA NO CALIFICADA",
                    7:"APOYO A SERVICIOS DE MEDICINA GENERAL",
                    9:"NO ESPECIFICADO"}

In [260]:
urgencies_cdmx_grouped['TIPOURGENCIA_V'] = ''
urgencies_cdmx_grouped['MOTATE_V'] = ''

for key, value in CatTipoUrgencia.items():
    print(f'{key} - {value}')
    urgencies_cdmx_grouped['TIPOURGENCIA_V'] = np.where(urgencies_cdmx_grouped['TIPOURGENCIA']==key, 
                                                        value, urgencies_cdmx_grouped['TIPOURGENCIA_V'])
    
print('------')    

for key, value in CatMotAtencionUrg.items():
    print(f'{key} - {value}')
    urgencies_cdmx_grouped['MOTATE_V'] = np.where( (urgencies_cdmx_grouped['MOTATE']==key), 
                                                  value, urgencies_cdmx_grouped['MOTATE_V'])

print('------')    

for key, value in CatMotAtencionUrg_2009.items():
    print(f'{key} - {value}')
    urgencies_cdmx_grouped['MOTATE_V'] = np.where((urgencies_cdmx_grouped['MOTATE']==key) & 
                                                  (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                  value, urgencies_cdmx_grouped['MOTATE_V'])

print('------ Fix 2009 - 1 - URGENCIA CALIFICADA')    


urgencies_cdmx_grouped['TIPOURGENCIA'] = np.where((urgencies_cdmx_grouped['MOTATE'].isin([2,3,4,5])) &
                                                    (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                    1, urgencies_cdmx_grouped['TIPOURGENCIA'])

print('------ Fix 2009 - 2 - URGENCIA NO CALIFICADA')    


urgencies_cdmx_grouped['TIPOURGENCIA'] = np.where((urgencies_cdmx_grouped['MOTATE'] == 6) &
                                                    (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                    2, urgencies_cdmx_grouped['TIPOURGENCIA'])


print('------ Fix 2009 - 3 - APOYO A SERVICIOS DE MEDICINA GENERAL')    


urgencies_cdmx_grouped['TIPOURGENCIA'] = np.where((urgencies_cdmx_grouped['MOTATE'] == 7) &
                                                    (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                    3, urgencies_cdmx_grouped['TIPOURGENCIA'])

    
print('------')  
    
for key, value in CatTipoUrgencia.items():
    print(f'{key} - {value}')
    urgencies_cdmx_grouped['TIPOURGENCIA_V'] = np.where( (urgencies_cdmx_grouped['TIPOURGENCIA']==key) &
                                                        (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                        value, urgencies_cdmx_grouped['TIPOURGENCIA_V'])

print('------ Fix 2009 MOTATE Fix') 
urgencies_cdmx_grouped['MOTATE_V'] = np.where((urgencies_cdmx_grouped['MOTATE_V']=="URGENCIA CALIFICADA MEDICA") & 
                                                  (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                  "MEDICA", urgencies_cdmx_grouped['MOTATE_V'])

urgencies_cdmx_grouped['MOTATE_V'] = np.where((urgencies_cdmx_grouped['MOTATE_V']=="URGENCIA CALIFICADA QUIRURGICA") & 
                                                  (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                  "QUIRURGICA", urgencies_cdmx_grouped['MOTATE_V'])

urgencies_cdmx_grouped['MOTATE_V'] = np.where((urgencies_cdmx_grouped['MOTATE_V']=="URGENCIA CALIFICADA GINECO-OBSTETRICA") & 
                                                  (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                  "GINECO-OBSTETRICA", urgencies_cdmx_grouped['MOTATE_V'])

urgencies_cdmx_grouped['MOTATE_V'] = np.where((urgencies_cdmx_grouped['MOTATE_V']=="URGENCIA CALIFICADA PEDIATRICA") & 
                                                  (urgencies_cdmx_grouped['YEAR']=='2009'), 
                                                  "PEDIATRICA", urgencies_cdmx_grouped['MOTATE_V'])

1 - URGENCIA CALIFICADA
2 - URGENCIA NO CALIFICADA
3 - APOYO A SERVICIOS DE MEDICINA GENERAL
------
1 - ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS
2 - MEDICA
3 - GINECO-OBSTETRICA
4 - PEDIATRICA
9 - NO ESPECIFICADO
------
1 - ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS
2 - URGENCIA CALIFICADA MEDICA
3 - URGENCIA CALIFICADA QUIRURGICA
4 - URGENCIA CALIFICADA GINECO-OBSTETRICA
5 - URGENCIA CALIFICADA PEDIATRICA
6 - URGENCIA NO CALIFICADA
7 - APOYO A SERVICIOS DE MEDICINA GENERAL
9 - NO ESPECIFICADO
------ Fix 2009 - 1 - URGENCIA CALIFICADA
------ Fix 2009 - 2 - URGENCIA NO CALIFICADA
------ Fix 2009 - 3 - APOYO A SERVICIOS DE MEDICINA GENERAL
------
1 - URGENCIA CALIFICADA
2 - URGENCIA NO CALIFICADA
3 - APOYO A SERVICIOS DE MEDICINA GENERAL
------ Fix 2009 MOTATE Fix

---

In [261]:
urgencies_cdmx_grouped.head()

,CLUES,TIPOURGENCIA,MOTATE,YEAR,count,TIPOURGENCIA_V,MOTATE_V
0,DFSSA000053,-1.0,1.0,2009,1278,,"ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS"
1,DFSSA000053,1.0,2.0,2009,8524,URGENCIA CALIFICADA,MEDICA
2,DFSSA000053,1.0,3.0,2009,19,URGENCIA CALIFICADA,QUIRURGICA
3,DFSSA000053,1.0,5.0,2009,4,URGENCIA CALIFICADA,PEDIATRICA
4,DFSSA000053,2.0,6.0,2009,24029,URGENCIA NO CALIFICADA,URGENCIA NO CALIFICADA

In [262]:
print(urgencies_cdmx_grouped.TIPOURGENCIA.unique())
print(urgencies_cdmx_grouped.TIPOURGENCIA_V.unique())

[-1.  1.  2.  3.]
['' 'URGENCIA CALIFICADA' 'URGENCIA NO CALIFICADA'
 'APOYO A SERVICIOS DE MEDICINA GENERAL']

In [263]:
print(urgencies_cdmx_grouped.MOTATE.unique())
print(urgencies_cdmx_grouped.MOTATE_V.unique())

[1. 2. 3. 5. 6. 9. 4. 7.]
['ACCIDENTES, ENVENENAMIENTO Y VIOLENCIAS' 'MEDICA' 'QUIRURGICA'
 'PEDIATRICA' 'URGENCIA NO CALIFICADA' 'NO ESPECIFICADO'
 'GINECO-OBSTETRICA' 'APOYO A SERVICIOS DE MEDICINA GENERAL']

---

In [264]:
empty = urgencies_cdmx_grouped[(urgencies_cdmx_grouped['MOTATE_V'] == '' )]

empty.count()

CLUES             0
TIPOURGENCIA      0
MOTATE            0
YEAR              0
count             0
TIPOURGENCIA_V    0
MOTATE_V          0
dtype: int64

In [265]:
empty = urgencies_cdmx_grouped[(urgencies_cdmx_grouped['TIPOURGENCIA_V'] == '' )]

empty.count()

CLUES             48
TIPOURGENCIA      48
MOTATE            48
YEAR              48
count             48
TIPOURGENCIA_V    48
MOTATE_V          48
dtype: int64

In [266]:
output_file = 'data_output/urgencies_by_date_cat.csv'

urgencies_cdmx_grouped.to_csv(output_file, encoding='utf-8', index=False)

---

In [272]:
### Upload the file  (to not process all the info twice)

input_file_hospitals = 'data_input/hospitals.csv'

hospital_list = pd.read_csv(input_file_hospitals, encoding='latin-1')

hospital_list = hospital_list[['CLUES','NOMBRE DE LA ENTIDAD','CLAVE DE LA ENTIDAD','CLAVE DE LA INSTITUCION','TOTAL DE CAMAS']]

In [273]:
hospital_list.head()

,CLUES,NOMBRE DE LA ENTIDAD,CLAVE DE LA ENTIDAD,CLAVE DE LA INSTITUCION,TOTAL DE CAMAS
0,ASDIF000011,AGUASCALIENTES,1,DIF,0
1,ASDIF000023,AGUASCALIENTES,1,DIF,0
2,ASDIF000035,AGUASCALIENTES,1,DIF,0
3,ASDIF000040,AGUASCALIENTES,1,DIF,0
4,ASDIF000052,AGUASCALIENTES,1,DIF,0

In [274]:
hospital_list.count()

CLUES                      38995
NOMBRE DE LA ENTIDAD       38995
CLAVE DE LA ENTIDAD        38995
CLAVE DE LA INSTITUCION    38995
TOTAL DE CAMAS             38995
dtype: int64

In [276]:
hospital_list_cdmx = hospital_list[(hospital_list['CLAVE DE LA ENTIDAD'] == 9 )]

hospital_list_cdmx.count()

CLUES                      2506
NOMBRE DE LA ENTIDAD       2506
CLAVE DE LA ENTIDAD        2506
CLAVE DE LA INSTITUCION    2506
TOTAL DE CAMAS             2506
dtype: int64

In [277]:
hospital_list_cdmx.head()

,CLUES,NOMBRE DE LA ENTIDAD,CLAVE DE LA ENTIDAD,CLAVE DE LA INSTITUCION,TOTAL DE CAMAS
6393,DFCIJ000011,CIUDAD DE MEXICO,9,CIJ,0
6394,DFCIJ000023,CIUDAD DE MEXICO,9,CIJ,0
6395,DFCIJ000035,CIUDAD DE MEXICO,9,CIJ,0
6396,DFCIJ000040,CIUDAD DE MEXICO,9,CIJ,0
6397,DFCIJ000052,CIUDAD DE MEXICO,9,CIJ,0

---

In [291]:
#merged = pd.merge(hospital_list_cdmx, urgencies_cdmx_grouped, how="left", on="CLUES")
merged = pd.merge(hospital_list_cdmx, urgencies_cdmx_grouped, how="outer", on="CLUES")

In [292]:
merged

,CLUES,NOMBRE DE LA ENTIDAD,CLAVE DE LA ENTIDAD,CLAVE DE LA INSTITUCION,TOTAL DE CAMAS,TIPOURGENCIA,MOTATE,YEAR,count,TIPOURGENCIA_V,MOTATE_V
0,DFCIJ000011,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
1,DFCIJ000023,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
2,DFCIJ000035,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
3,DFCIJ000040,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
4,DFCIJ000052,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
5,DFCIJ000064,CIUDAD DE MEXICO,9,CIJ,0,NaN,NaN,NaN,NaN,NaN,NaN
6,DFCRO000011,CIUDAD DE MEXICO,9,CRO,60,NaN,NaN,NaN,NaN,NaN,NaN
7,DFDIF000010,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
8,DFDIF000022,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
9,DFDIF000034,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
10,DFDIF000046,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
11,DFDIF000051,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
12,DFDIF000063,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
13,DFDIF000075,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
14,DFDIF000080,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
15,DFDIF000092,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
16,DFDIF000104,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
17,DFDIF000116,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
18,DFDIF000121,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
19,DFDIF000133,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
20,DFDIF000145,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
21,DFDIF000150,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
22,DFDIF000162,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
23,DFDIF000174,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
24,DFDIF000186,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
25,DFDIF000191,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
26,DFDIF000203,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
27,DFDIF000215,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
28,DFDIF000220,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
29,DFDIF000232,CIUDAD DE MEXICO,9,DIF,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4609,DFSSA018895,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4610,DFSSA018900,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4611,DFSSA018912,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4612,DFSSA018924,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4613,DFSSA018936,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4614,DFSSA018941,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4615,DFSSA018953,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4616,DFSSA018965,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4617,DFSSA018970,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4618,DFSSA018982,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4619,DFSSA018994,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4620,DFSSA019006,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4621,DFSSA019011,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4622,DFSSA019023,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4623,DFSSA019035,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4624,DFSSA019040,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4625,DFSSA019052,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4626,DFSSA019064,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4627,DFSSA019076,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4628,DFSSA019081,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4629,DFSSA019093,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4630,DFSSA019105,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4631,DFSSA019110,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4632,DFSSA019123,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4633,DFSSA019132,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4634,DFSSA019141,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4635,DFSSA019150,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4636,DFSSA019165,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4637,DFSSA019174,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN
4638,DFSSA019183,CIUDAD DE MEXICO,9,SSA,0,NaN,NaN,NaN,NaN,NaN,NaN

In [293]:
output_file = 'data_output/urgencies_by_date_vs_hospitals.csv'

merged.to_csv(output_file, encoding='utf-8', index=False)