## Declaraciones

In [ ]:
# import
import pandas as pd

# Joanne

---

# Daniel

---

# Joel

In [3]:



years = ['2009','2010','2011','2012','2013','2014','2015','2016']

years = ['2013','2014','2015','2016']

years = ['2015','2016']

In [4]:
#urgencies = pd.DataFrame(columns=['ID','CLUES','MOTATE','TIPOURGENCIA','YEAR'])
urgencies = pd.DataFrame(columns=['CLUES','MOTATE','TIPOURGENCIA','YEAR'])

for year in years:
    path = f'Datos/Urgencias_{year}/'
    file = f'URGENCIAS_{year}.csv'
    try:
        print(f'[LOG]: Processing... {file}')
        
        
        if year in ['2013','2014']:
            urgencies_tmp = pd.read_csv(path+file, sep=";", engine='python', header=None, usecols=[2,6])
        else:
            urgencies_tmp = pd.read_csv(path+file)
        
        print(f'[LOG]: Read: {file}')
        
        #urgencies_tmp = urgencies_tmp[['ID','CLUES','MOTATE','TIPOURGENCIA']]
        urgencies_tmp = urgencies_tmp[['CLUES','MOTATE','TIPOURGENCIA']]
        urgencies_tmp['YEAR'] = year
        
        print(f'[LOG]: Processed: {file}')
        
        urgencies = pd.concat([urgencies, urgencies_tmp], ignore_index=True)
        
        
        print(f'[LOG]: Appended: {file}')
        
        
    except:
        print(f'[LOG]: Error: {file}')

[LOG]: Processing... URGENCIAS_2015.csv

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[LOG]: Read: URGENCIAS_2015.csv
[LOG]: Processed: URGENCIAS_2015.csv
[LOG]: Appended: URGENCIAS_2015.csv
[LOG]: Processing... URGENCIAS_2016.csv

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,7,8,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

[LOG]: Read: URGENCIAS_2016.csv
[LOG]: Processed: URGENCIAS_2016.csv
[LOG]: Appended: URGENCIAS_2016.csv

In [8]:
#

urgencies_cdmx = urgencies[(urgencies['CLUES'].str.contains("DF"))]

#urgencies.head()
#urgencies_agg = urgencies.groupby(['CLUES','MOTATE','TIPOURGENCIA','YEAR']).count()[['CLUES']]

urgencies_cdmx.groupby(['CLUES','MOTATE','TIPOURGENCIA','YEAR']).CLUES.agg('count').to_frame('Count').reset_index()

urgencies_cdmx.head()

            CLUES  MOTATE TIPOURGENCIA  YEAR
3550  DFSSA017886     2.0            2  2015
3551  DFSSA017886     2.0            2  2015
3552  DFSSA017886     2.0            1  2015
3553  DFSSA017886     2.0            2  2015
3554  DFSSA017886     2.0            2  2015

---

In [2]:
urgencies['year'] = '2015'

NameError: name 'urgencies' is not defined

In [9]:
#urgencies = pd.DataFrame(columns=['ID','CLUES','MOTATE','TIPOURGENCIA','YEAR'])
urgencies = pd.DataFrame(columns=['CLUES','MOTATE','TIPOURGENCIA','YEAR'])

year = '2014'


path = f'Datos/Urgencias_{year}/'
file = f'URGENCIAS_{year}.csv'

print(f'[LOG]: Processing... {file}')


#if year in ['2013','2014']:
#    urgencies_tmp = pd.read_csv(path+file, sep=";", engine='python', header=None, usecols=[1,10,11], names=['colA', 'colB','colC'])
#    print('hola')

[LOG]: Processing... URGENCIAS_2014.csv

In [10]:
urgencies_tmp.head()

         CLUES  MOTATE  TIPOURGENCIA  YEAR
0  ASSSA000025     1.0             2  2016
1  ASSSA000025     4.0             2  2016
2  ASSSA000025     4.0             1  2016
3  ASSSA000025     1.0             2  2016
4  ASSSA000025     4.0             2  2016

In [12]:
urgencies_tmp.count()

CLUES           10554908
MOTATE          10183961
TIPOURGENCIA    10554908
YEAR            10554908
dtype: int64

---