In [1]:
import pandas as pd


years = ['2009','2010','2011','2012','2013','2014','2015','2016']

years = ['2013','2014','2015','2016']

In [ ]:
#urgencies = pd.DataFrame(columns=['ID','CLUES','MOTATE','TIPOURGENCIA','YEAR'])
urgencies = pd.DataFrame(columns=['CLUES','MOTATE','TIPOURGENCIA','YEAR'])

for year in years:
    path = f'Datos/Urgencias_{year}/'
    file = f'URGENCIAS_{year}.csv'
    try:
        print(f'[LOG]: Processing... {file}')
        
        
        if year in ['2013','2014']:
            urgencies_tmp = pd.read_csv(path+file, sep=";", engine='python', header=None, usecols=[2,6])
        else:
            urgencies_tmp = pd.read_csv(path+file)
        
        print(f'[LOG]: Read: {file}')
        
        #urgencies_tmp = urgencies_tmp[['ID','CLUES','MOTATE','TIPOURGENCIA']]
        urgencies_tmp = urgencies_tmp[['CLUES','MOTATE','TIPOURGENCIA']]
        urgencies_tmp['YEAR'] = year
        
        print(f'[LOG]: Processed: {file}')
        
        urgencies = pd.concat([urgencies, urgencies_tmp], ignore_index=True)
        
        
        print(f'[LOG]: Appended: {file}')
        
        
    except:
        print(f'[LOG]: Error: {file}')

In [ ]:
#

urgencies_cdmx = urgencies[(urgencies['CLUES'].str.contains("DF"))]

#urgencies.head()
#urgencies_agg = urgencies.groupby(['CLUES','MOTATE','TIPOURGENCIA','YEAR']).count()[['CLUES']]

urgencies_cdmx.groupby(['CLUES','MOTATE','TIPOURGENCIA','YEAR']).CLUES.agg('count').to_frame('Count').reset_index()

In [ ]:
urgencies_agg.head()

In [ ]:
urgencies['year'] = '2015'

---

In [6]:
#urgencies = pd.DataFrame(columns=['ID','CLUES','MOTATE','TIPOURGENCIA','YEAR'])
urgencies = pd.DataFrame(columns=['CLUES','MOTATE','TIPOURGENCIA','YEAR'])

year = '2014'


path = f'Datos/Urgencias_{year}/'
file = f'URGENCIAS_{year}.csv'

print(f'[LOG]: Processing... {file}')


if year in ['2013','2014']:
    urgencies_tmp = pd.read_csv(path+file, sep=";", engine='python', header=None, usecols=[1,10,11], names=['colA', 'colB','colC'])
    print('hola')

[LOG]: Processing... URGENCIAS_2014.csv
hola

In [5]:
urgencies_tmp.head()

Empty DataFrame
Columns: []
Index: [(10557028, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan), (10557029, ZSSSA012853, 2760.0, 2014-01-16 00:00:00, 35.0, 3.0, 2.0, 32.0, 24.0, 8, 2.0, 3.0, 9.0, 4.0, nan, O996, nan, nan, nan, 2014-01-16 00:00:00, 0.0, 1.0, 15.0, 34.0, 15.0), (10557030, ZSSSA012853, 2761.0, 2014-01-16 00:00:00, 10.0, 3.0, 1.0, 32.0, 54.0, 8, 2.0, 2.0, 9.0, 3.0, nan, S022, nan, nan, nan, 2014-01-16 00:00:00, 1.0, 1.0, 15.0, 49.0, 16.0), (10557031, ZSSSA012853, 2762.0, 2014-01-16 00:00:00, 10.0, 3.0, 1.0, 32.0, 24.0, 8, 2.0, 4.0, 9.0, 4.0, nan, R104, nan, nan, nan, 2014-01-16 00:00:00, 0.0, 1.0, 16.0, 6.0, 16.0), (10557032, ZSSSA012853, 2763.0, 2014-01-16 00:00:00, 24.0, 3.0, 2.0, 32.0, 24.0, 8, 2.0, 2.0, 9.0, 9.0, nan, J039, nan, nan, nan, 2014-01-16 00:00:00, 0.0, 1.0, 8.0, 0.0, 8.0)]

In [ ]:
urgencies_dup.count()